<div id="punchy_configure">
    {{> block_punchy/configuration_form }}

    <div class="mt-5">
        <h4>{{#str}} licences, block_punchy {{/str}}</h4>
        {{> block_punchy/configure_licences_list }}
    </div>
</div>